@media only screen and (min-width: 300px){
    .navbar-bottom-icons-box{
        width: 200px;
        height: 60px;
        border-radius: 5px 5px 0 0;
        border-width: 1px;
        border-style: solid;
        border-bottom: none !important;
        transform: translateY(1px);
        position: sticky;
        left: 0px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: all 0.2s ease;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-bottom-icons{
        font-size: 40px !important;
        margin: 0 6px;
        transition: 0.2s all linear;
    }
    .theme-switch-box p{
      margin: 0;
    }
}
@media only screen and (min-width: 1024px){
  .navbar-bottom-icons-box{
    width: 220px;
    height: 80px;
  }

  .navbar-bottom-icons:hover{
    transform: scale(1.3);
	}
}
