@media only screen and (min-width: 300px){
	.project-box{
    transition: all 0.3s ease;
		box-shadow: 1px 1px 5px#00d8ff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
	}
  .project-image-box, .project-desc-box{
    position: relative;
		display: flex;
		flex-direction: column;
    align-items: center;
    height: 50%;
  }
	.project-image{
		width: 100%;
		height: 100%;
		border: none;
		object-fit: cover;
	}

	.project-button-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
	}
  .project-button-box a:nth-child(1) {
    border-left-width: 0;
  }
  .project-button-box a:nth-child(2) {
    border-right-width: 0;
  }
	.project-button-box a{
    border: 1px solid rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
		width: 50%;
    height: 100%;
		font-size: 18px;
		padding: 12px;
    transition: 0.4s all linear;
	}
	.project-box h4{
    margin: 0;
    padding: 10px 0;
		font-size: 25px;
		width: 90%;
    font-weight: 400;
    border-bottom: 1px solid #00d8ff
	}
	.project-desc{
    width: 90%;
    margin: 20px auto;
		font-size: 16px;
	}
}

@media only screen and (min-width: 1200px){
  .project-box{
    height: 250px;
  }
  .project-image-box, .project-desc-box{
    height: 100%;
  }
  .project-desc-box {
    transform: translateY(-100%);
    transition: 0.5s all ease-in-out;
    opacity: 0;
  }
  
  .project-box:hover > .project-desc-box { 
    opacity: 1;
  }
  .project-button-box a:hover {
    background-color: #00d8ff !important;
    color: black !important;
  }
}


