@keyframes slide-in{
	0%{
		transform: translate(20%, 15%);
		opacity: 0;
	}
	20%{
		transform: translate(20%, 15%);
		opacity: 0;
	}
	35%{
		transform: translate(20%, 0%);
		opacity: 0.1;
	}
	100%{
		transform: translate(0%, 0%);
		opacity: 1;
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		letter-spacing: 5px;
	}
	30% {
		opacity: 0;
		letter-spacing: 5px;
	}

	100%{
		opacity: 1;
		letter-spacing: 2px;
	}
}

@keyframes shine {
	0% {
	  background-position: -500%; 
	}
	100% {
	  background-position: 500%;
	}
}
@keyframes reverseShine {
	0% {
	  background-position: 500%;
	  
	}
	100% {
	  background-position: -500%;
	}
}

@keyframes mozGlow {
	0%{
		text-shadow: 0 0 5px antiquewhite, 0 0 8px  antiquewhite;
	}
}

@keyframes blink {
  0%, 58%, 70%, 77%, 83%, 89%, 100% {
		text-shadow: 0px 0px 4px #00d8ff, 0px 0px 8px #00d8ff, 0px 0px 12px #00d8ff, 0px 0px 16px #00d8ff, 0px 0px 20px #00d8ff, 0px 0px 24px #00d8ff, 0px 0px 28px #00d8ff;
  }
  59%, 69%, 74%, 80%, 86% {
    text-shadow: none;
  }
}