@media only screen and (min-width: 300px) {
  #about-me{
    margin-top: 50px;
  }
  .section-2{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.section-slant {
		border-top: 100px solid transparent;
		border-right: 99vw solid rgb(15, 15, 15);
		width: 100%;
		height: 100px;
		position: absolute;
		top: -100px;
	}
	.section-2-content-container{
		margin-bottom: 100px;
	}

	.section-2-content-container h2{
		margin: 10px auto;
		font-weight: 400;	
		font-size: 18px;
		text-align: center;
		width: 90%;
		padding: 20px;
	}
	.contact-me-container{
		margin: 80px auto 0;
	}
	.contact-me-btn{
		font-weight: 400;
		border: 1px solid #00d8ff;
		border-radius: 5px;
		padding: 15px;
		font-size: 20px;
    transition: 0.4s all linear;
	}
}

@media only screen and (min-width: 425px) {
  .section-2-content-container{
    padding-bottom: 100px;
  }
}


@media only screen and (min-width: 1024px) {
  .section-2-content-container {
    width: 75%;
  }
  .contact-me-btn:hover{
		color: black !important;
		background-color: #00d8ff !important;
	}
}

@media only screen and (min-width: 1200px){
  .section-2-content-container h2{
    font-size: 24px;
  }
  .contact-me-btn{
		font-size: 24px;
	}
}
@media only screen and (min-width: 1440px){
  .section-2-content-container {
    width: 60%;
  }
}
