#root{
	min-height: 100vh;
	background: rgb(15, 15, 15);
	width: 100%;
	color: antiquewhite;
}
* {
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	width: 100%;
	min-height: 100vh;
	letter-spacing: 0.1rem;
	display: flex;
	flex-direction: column;
}
.App {
	text-align: center;
	min-height: 100vh;
	width: 100%;
}
a {
	text-decoration: none;
}
.section-title{
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 0;
	padding: 50px 0 25px;
	margin-block-start: 0;
}
@media only screen and (min-width: 1024px) {
	.section-title{
		font-size: 40px;
	}
}
