@media only screen and (min-width: 300px){
  .form-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-top: 30px;
    overflow: hidden;
  }
	.section-5 label {
		text-align: start;
		padding-top: 10px;
		position: absolute;
		z-index: 0;
		width: 260px;
		transition: all 0.4s ease;
	}
	.form-input-fields{
		position: relative;
		display: inline-block;
		width: 260px;
		height: 50px;
		font-size: 16px;
		background-color: transparent;		
		outline: none;
		border: none;
    z-index: 1;
    border-bottom: solid 1px;
  }
	.form-text-area {
		background-color: transparent;
		height: 50px;
		border: none;
		resize: none;	
		outline: none;
		font-size: 16px;
		z-index: 1;
    border-bottom: solid 1px; 
    transition: all 0.5s ease-in-out;
	}
	.animate-input-border {
		position: absolute;
		bottom: 0;
		width: 260px;
		height: 0 !important;
		border-bottom: solid 1px;
		transform: translateX(-100%);
		transition: transform 0.4s ease;
	}

	.form-text-area:focus{
		height: 150px;
	}

	.form-input-fields:focus ~ .animate-input-border,
	.form-text-area:focus ~ .animate-input-border{
    transform: translateX(0%);
	}

	.form-input-fields:focus ~ label,
	.form-input-fields:not(:placeholder-shown) ~ label{
		padding: 0;
		transform: translateY(-25px);
		font-size: 14px;
	}

	.form-text-area:focus ~ label,
	.form-text-area:not(:placeholder-shown) ~ label{
		padding: 0;
		transform: translateY(-25px);
		font-size: 14px;
		height: 150px !important;
	}
	.form-text-area:not(:placeholder-shown){
		height: 150px !important;
	}
	.form-text-area:not(:focus) ~ label{
		height: 50px !important;
	}
}

@media only screen and (min-width: 1024px){
  #contact-form {
    display: grid;
    grid-template-areas: 
    "name email subject"
    ". message .";
    column-gap: 150px;
    
  }
  #contact-form div:nth-child(1){
    grid-area: name;
  }
  #contact-form div:nth-child(2){
    grid-area: email;
  }
  #contact-form div:nth-child(3){
    grid-area: subject;
  }
  #contact-form div:nth-child(4){
    width: 260px;
    grid-area: message;
    justify-self: center;
    align-self: center;
  }
}