/*  animation: pulse 1.5s infinite cubic-bezier(.05,.7,.82,1.21); */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  75%{
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 320px) {
  .skills-container{
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 420px));
		grid-template-rows: repeat(4, auto);
    justify-content: center;
    margin: 10px;
  }
  .row{
    min-height: 115px;
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 5px #00d8ff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }
  .skill-icons-box {
    margin: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 65px);
		grid-template-rows: repeat(auto-fit, 80px);
		justify-content: center;
		gap: 10px;
  }
  .description{
    width: 90%;
    height: auto;
    border-bottom: 0.1px solid #00d8ff;
    padding: 4px 0;    
  }

}

@media only screen and (min-width: 425px) {
  .skills-container{
    grid-template-columns: repeat(1, minmax(420px, 550px));
  }
}
@media only screen and (min-width: 768px) {
  .skills-container{
    grid-template-columns: repeat(1, minmax(550px, 740px));
  }
  .skill-icons-box {
    grid-template-columns: repeat(auto-fit, 80px);
		grid-template-rows: repeat(auto-fit, 95px);
  }
}
@media only screen and (min-width: 1200px) {
  .skills-container{
    width: auto;
    max-width: 100%;
    grid-template-columns: repeat(2, 650px);
		grid-template-rows: repeat(2, auto);
    column-gap: 20px;
    row-gap: 10px;
  }
}
