@media only screen and (min-width: 300px){
	.theme-switch{
		max-height: 40px;
		margin-right: auto;
		margin-left: auto;
	}
	.theme-switch-box{
		font-size: 12px;
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#switch{
		width: 0;
		height: 0;
		visibility: hidden;
	}
	.theme-switch label{
		cursor: pointer;
		width: 35px;
		height: 16px;
		background: gray;
		display: block;
		border-radius: 40px;
		position: relative;
		top: -10px;
		transition: all 0.3s linear;
	}
	.theme-switch label::after{
		content: '';
		width: 22px;
		height: 22px;
		background-color: #00d8ff;
		position: absolute;
		top: -5px;
		left: -5px;
		border-radius: 50%;
		border: 2px solid black;
		transition: all 0.3s linear;
	}
	#switch:checked + label {
		background-color: #00d8ff;
	}
	#switch:checked + label::after{
		transform: translateX(20px);
		background-color: gray;
	}
	#switch:not(:checked) + label::after{
		transform: translateX(0%);
	}
}

@media only screen and (min-width: 1024px){
  .theme-switch label{
    width: 50px;
    height: 20px;
  }
  .theme-switch label::after{
		width: 26px;
		height: 26px;
  }
  #switch:checked + label::after{
		transform: translateX(30px);
  }
}
